<app-menu></app-menu>

<section class="section princial">
  <div class="container">

  <h2 class="text-center">
     <p>Descargar sanus</p>
  </h2>

  <p class="text-centerp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi possimus quam, consectetur nobis molestiae fugit, recusandae eius id ab quidem nemo quas non aliquam obcaecati, iste asperiores, qui tempore animi!</p>
  <br><br>

  <a class="descargar" href="https://google.com" target="_blank">
    <img src="./assets/img/google.png">
  </a>

  <a class="descargar" href="https://google.com" target="_blank">
    <img src="./assets/img/apple.png">
  </a>

  </div>
 </section><!-- SECCION BENEFICIOS -->

 <div class="pie abajo">
   <app-pie></app-pie>
 </div>
