<app-menu></app-menu>

<section class="section princial">
  <div class="container">

    <h2 class="text-center">
       <p>Caracteristicas</p>
    </h2>


    <div class="caract izquierda">
      <img src="./assets/img/ios.png" alt="">
      <ul>
        <li>Buscar doctores por especialidad.</li>
        <li>Agendar citas</li>
        <li>Ver perfil doctor</li>
        <li>Comentar al doctor</li>
        <li>Enviarle mensaje privado al médico</li>
        <li>Modificar informacino de perfil</li>
      </ul>
    </div>

    <div class="separador-ca"></div>

    <div class="caract derecha">
      <img src="./assets/img/android.png" alt="">
      <ul>
        <li>Ver su perfil</li>
        <li>Ver los comentarios que le han hecho</li>
        <li>Ver citas</li>
        <li>Platicar con pacientes</li>
        <li>Modificar informacino de perfil</li>
      </ul>
    </div>

  </div>
 </section><!-- SECCION BENEFICIOS -->

 <div class="pie">
   <app-pie></app-pie>
 </div>
